/examples/node_modules
/examples/public/crocodile
/examples/public/dest
/examples/public/docs
/examples/dist
/examples/temp


/crocodile

/build/webapp
/build/crocodile

dist
dest
ticket

node_modules/
src/dest/
.vscode/
/build/*.log
/dist
/webpack.dev.log.